@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular", sans-serif;
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

article {
  text-align: center;
}
.Container {
  width: 80%;
  max-width: 71rem;
  padding: 8rem 2% 4rem;
  margin: 0 auto;
}
.SectionTitle {
  display: table;
  position: relative;
  margin: 0 auto 4rem;
}
.SectionTitle_text {
  font-family: "GmarketSansMedium", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
  margin: 0;
}
li {
  margin-bottom: 0.5rem;
}

/* --------------- Header --------------- */
#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
}
#nav.nav--dark {
  background-color: rgb(255, 246, 228);
  /* box-shadow: 0 1px 0.3rem; */
}
.Nav_container {
  width: 80%;
  box-sizing: border-box;
  padding: 1.25rem 2rem;
  margin: 0 auto;
}
.Nav_navbar {
  color: rgb(255, 246, 228);
  /* font-weight: 400; */
  float: right;
}
.Nav_navbar.navbar--dark {
  color: #003b1b;
}
.Nav_logo.logo--dark {
  color: #003b1b;
}
.Nav_logo {
  color: rgb(255, 246, 228);
  display: inline-block;
  cursor: pointer;
}

.Nav_logo-icon {
  font-size: 1.6rem;
}
.Nav_logo-icon::before {
  padding-right: 0.7rem;
}

.Nav_menu {
  display: inline-block;

  padding: 0 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  /* opacity: 0.8; */
}

.Nav_menu:hover {
  color: #ffc107;
}

/* --------------- Home --------------- */
/* 움직이는 이미지 */
/* .Home_img-wrapper {
  animation: up-down 2s infinite ease-in-out alternate;
}

@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-40px);
  }
} */
#home {
  /* background: 
  linear-gradient(
      180deg,
      rgba(153, 102, 204, 0.3) 0,
      rgba(153, 102, 204, 0.3) 90%
    ), url("images/background.png")
    center/cover no-repeat; */
  background-color: #003b1b;
}
.Home_avatar {
  width: 15rem;
  height: 15rem;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 3rem auto 4rem;
  background-color: rgb(255, 246, 228);
  /* background: url("/images/avatar2.jpg") center;
  background-size: 25rem;
  transform: scaleX(-1) rotate(-15deg); */
  /* box-shadow: 10px 10px 70px 8px; */
}
.Home_title {
  font-family: "GmarketSansMedium", sans-serif;
  color: rgb(255, 246, 228);
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
}
.Home_divider {
  display: block;
  width: 4rem;
  border: 0.15rem solid #f4623a;
  margin: 2rem auto;
}
.Home_description {
  color: rgb(255, 246, 228);
  font-size: 1.25rem;
  margin: 0 auto 4rem;
}
.Home_nextbtn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 10rem;
  background-color: rgb(255, 246, 228);
  font-size: 1rem;
  font-weight: 700;
  color: #003b1b;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.Home_nextbtn:hover {
  background-color: #ffc107;
}

/* --------------- About Me --------------- */
#about-me {
  background-color: rgb(255, 246, 228);
}
.AboutMe_section-title-text {
  color: #003b1b;
}
.AboutMe_infos {
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  opacity: 0.8;
}
.AboutMe_info-wrapper {
  display: block;
  text-align: left;
  width: 33.3333%;
  margin-bottom: 3rem;
}
.AboutMe_info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 16rem;
  margin: 0 auto;
}
.AboutMe_icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
}
.AboutMe_icon-img {
  font-size: 2.3rem;
}
.AboutMe_field-label {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.AboutMe_field-value {
  font-size: 1rem;
  font-weight: 400;
}

/* --------------- Skills --------------- */
#skills {
  background-color: #b6daae;
}
.Skills_title {
  color: #003b1b;
}
.Skills_tech-stacks-container {
  display: flex;
  flex-flow: row wrap;
}
.Skills_tech-stacks {
  width: 17rem;
  padding: 1.5rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 246, 228);
  /* box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7); */
}
.Skills_stacks-title {
  margin: 1.5rem 0;
  padding-bottom: 0.5rem;

  /* border-bottom: 1px solid #ccc; */
  font-size: 1.5rem;
  font-weight: 700;
  color: #003b1b;
}
.Skills_img {
  display: block;
  width: 100%;
}

/* --------------- archiving --------------- */
#archiving {
  /* background-color: #222222; */
  background-color: rgb(255, 246, 228);
}
.Archiving_title {
  color: #003b1b;
}
.Archiving_git-hub {
  display: block;
  text-align: left;
  width: 50%;
  padding: 2rem;
  margin: 0 auto 2rem;
  border-radius: 2rem;
  background-color: #003b1b;
  text-decoration: none;
  cursor: pointer;
  /* box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8); */
}
.Archiving_img-wrapper {
  display: block;
  width: 12rem;
  margin-bottom: 1rem;
}
.Archiving_img {
  width: 100%;
}
.Archiving_url {
  margin-bottom: 1rem;
  color: #ffc107;
}
.Archiving_description {
  font-size: 1.3rem;
  color: rgb(255, 246, 228);
}

/* --------------- Projects --------------- */
#projects {
  background-color: #b6daae;
}
.Projects_section-title {
  color: #003b1b;
}
.Projects_project {
  padding: 3rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: white;
  /* box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); */
}
.Projects_project-title {
  padding-bottom: 0.5rem;
  font-family: "GmarketSansMedium", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #222222;
  text-align: center;
}
.Projects_project-period {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
  opacity: 0.8;
}
.Projects_project-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Projects_project-img-wrapper {
  width: 50%;
  margin-right: 3rem;
}
.Projects_project-img {
  width: 100%;
}
.Projects_project-descriptions {
  width: calc(50% - 3rem);
  text-align: left;
}
.Projects_project-main-description {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.Projects_project-description {
  margin-bottom: 1rem;
}
.Projects_project-label::before {
  content: "✔";
  display: inline;
  padding-right: 0.5rem;
}
.Projects_project-label {
  /* display: inline-block; */
  float: left;
  vertical-align: top;
  width: 8.4rem;
  font-weight: 900;
  font-size: 1rem;
}
.Projects_project-value {
  display: inline-block;
  vertical-align: bottom;
  width: calc(100% - 8.4rem);
}
.Projects_url {
  color: #258ddb;
  cursor: pointer;
  text-decoration: none;
  word-break: break-all;
}

/* --------------- page up btn --------------- */
.PageUpBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: none;
}
.PageUpBtn_icon {
  width: 100%;
  vertical-align: middle;
}
.PageUpBtn:hover {
  opacity: 0.9;
}
.PageUpBtn.visible {
  display: block;
}

/* --------------- footer --------------- */
#footer {
  height: 10rem;
  padding-top: 3rem;
  text-align: center;
  background-color: #222222;
}
.Footer_icons {
  margin-bottom: 1rem;
}
.Footer_icon-wrapper {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 2px;
  margin: 0 0.5rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.discord,
.instagram {
  border: none;
}
.Footer_icon {
  font-size: 3rem;
  color: #f0e6ee;
}
.discord-icon {
  font-size: 2.5rem;
}
.Footer_icon-wrapper:hover {
  opacity: 0.8;
}
.Footer_copyright {
  font-size: 0.9rem;
  color: #f0e6ee;
}

/* --------------- @media --------------- */
/* --------------- @media 1109px--------------- */
@media screen and (max-width: 1109px) {
  .Home_avatar {
    display: none;
  }
  .Home_title {
    font-size: 3rem;
  }
  .Home_description {
    font-size: 1rem;
  }

  .AboutMe_info-wrapper {
    width: 50%;
  }

  .Projects_project-info {
    flex-direction: column;
  }
  .Projects_project-img-wrapper {
    width: 100%;
  }
  .Projects_project-descriptions {
    width: 100%;
  }
}
/* --------------- @media 679px--------------- */
@media screen and (max-width: 679px) {
  .AboutMe_info-wrapper {
    width: 100%;
  }
  .Projects_project-label {
    float: none;
    width: 100%;
  }
  .Projects_project-value {
    width: 100%;
  }
}
